<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{common/layout_5block :: layout(~{::title},~{::body/content()})}">

<head>
	<title th:text="'お気に入り'+#{title.list}+' | '+ #{shop.title}"> </title>
	<meta charset="UTF-8" />
</head>

<body class="user">

	<h2 th:class="title" th:text="'お気に入り'+#{title.list}"></h2>

	<th:block th:if="${items != null and !#lists.isEmpty(items)}">
		<div class="item_list">
			<div class="item" th:each="item : ${items}">
				<div class="item_name" th:text="${item.name}"></div>
				<a th:href="@{/client/item/detail/{id}(id=${item.id})}">
					<img th:if="${item.image != null}" th:src="@{/images/{image}(image=${item.image})}" />
					<img th:if="${item.image == null}" th:src="@{/images/common/no_image.jpg}" />
				</a>
				<!--/* お気に入り解除ボタンは画像の前面に配置し、クリック可能にする */-->
				<div class="favorite_delete_area">
					<p class="item_price">
						<span th:text="#{data.item.price}"></span>：
						<span th:text="${item.price}"></span>
					</p>
					<form th:action="@{/client/favorite/delete/{itemId}(itemId=${item.id})}" method="post">
						<input type="submit" value="お気に入り解除" class="delete_button" />
					</form>
				</div>
			</div>
		</div>
	</th:block>
	<th:block th:if="${items == null or #lists.isEmpty(items)}">
		<p th:text="'お気に入り登録されている商品はありません。'"></p>
	</th:block>

	<div class="detail_button_area">
		<form th:action="@{/}" method="get">
			<input type="submit" value="戻る" class="back_button" />
		</form>
	</div>

</body>

</html>
